button {
  margin: 10px;
  width: 200px;
  height: 40px;
}

#svg-holder {
  position: relative;
  text-align: center;
  border: 1px solid #000;
  min-height: 400px;
}

#bods-svg {
  width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#result {
  height: 100px;
  width: 100%;
}

.main-article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 40px;
}

.file-input {
  text-align: center;
}

#disclosure-widget details {
  text-align: left;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.button-container {
  text-align: right;
}

#close-tooltip {
  width: 40px;
}

#draw-vis {
  width: 100%;
}

#zoom_in {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 40px;
}

#zoom_out {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
}
